.name {
  display: flex;
  justify-content: end;
  align-items: center;
}

.imgName {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.spanName {
  display: block;
  color: #ff6060;
  text-align: end;
  margin-right: 10px;
}
