.nameProfil,
.tag_star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_equipement {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
}
