.container_card {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 990px) {
  .container_card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
